<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <%= stylesheet_link_tag 'index_map' %>
</head>
<%= content_for :js_libs, "modernizr flot chartjs" %>

<div class="container-fluid">
  <%= render partial: 'content_blocks/app_navs/navbar' %>
  <p id="notice"><%= notice %></p>
  <%# <%= render partial: 'dashboard/bs_table' %1> %>
  <%# <%= render partial: 'dashboard/metrics_cards' %1> %>
  <%# <%= render partial: 'dashboard/metric_charts' %1> %>
  <%# <%= render partial: 'dashboard/sales_refunds' %1> %>
  <%# <%= render partial: 'dashboard/server_activity' %1> %>
  <%# <%= render partial: 'dashboard/most_active_users' %1> %>
  <%= render partial: 'dashboard/index_map' %>
</div>
