<div class="container-fluid">
  <%= render partial: 'content_blocks/app_navs/navbar' %>
  <p id="notice"><%= notice %></p>

  <div class="card-body">
  <%= image_tag (@collection.image if @collection.image.attached?), class: 'img-fluid' %>
  </div>

  <p>
  <strong>Name:</strong>
  <%= @collection.name %>
  </p>

  <p>
  <strong>Price:</strong>
  <%= @collection.price %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= @collection.description %>
  </p>
  
  <p>
  <strong>Categories:</strong>
  <% @collection.category_ids.each_with_index do |c, index| %>
    <% if @category.ids.include?(c) %>
      <%= "#{@category[index + 1].name} " %>
    <% end %>
  <% end %>
  </p>

  <p>
  <strong>Quantity:</strong>
  <%= @collection.quantity %>
  </p>

  <p>
  <strong>Available from:</strong>
  <%= @collection.available_hours_morning %> AM
  </p>

  <p>
  <strong>Available until:</strong>
  <%= @collection.available_hours_night %> PM
  </p>

  <p>
  <strong>Available until:</strong>
  <%= @time %>
  
  </p>

  <% if can? :update, @collection %>
    <%= link_to 'Edit', edit_collection_path(@collection), data: { turbolinks: false } %> |
  <% end %>
  <%= link_to 'Back', collections_path, data: { turbolinks: false } %>
</div>

