<% @title = "Edit #{resource_name.to_s.humanize}" %>

<div id="main" class="devise-1">
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1><%=app_name%></h1>
        <p class="p-0 m-0 text-uppercase">My Account Details</p>
      </header>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-6 mr-auto ml-auto">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name),
                html: { method: :put, class: "form-horizontal", novalidate: true } do |f| %>
                <%= f.input :email, placeholder: 'user@domain.com', input_html: { class: 'form-control' }, label_html: { class: 'form-label' }%>
                <%= f.input :first_name, placeholder: 'Your First Name', input_html: { class: 'form-control' }, label_html: { class: 'form-label' }%>
                <%= f.input :last_name, placeholder: 'Your Last Name', input_html: { class: 'form-control' }, label_html: { class: 'form-label' }%>
                <%= f.input :password, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
                <div class="help-block">
                  Leave it blank if you don"t want to change it.
                </div>
                <%= f.input :password_confirmation, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
                <%= f.input :current_password, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
                <div class="help-block">
                  We need your current password to confirm your changes.
                </div>
                <%= f.input :time_zone, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
                <%= f.input :role do %>
                  <%= f.select :role, User.roles.keys.to_a, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
                <% end %>
                <div class="row d-flex align-items-center mt-5">
                  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "mr-auto text-danger" %>
                  <%= f.button :submit, "Update", class: 'btn btn-primary ml-auto', redirect_to: collections_path %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
