<% @title = "Sign up" %>

<div id="main" class="devise-1">
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1><%=app_name%></h1>
        <p class="p-0 m-0 text-uppercase">Sign Up</p>
      </header>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-6 mr-auto ml-auto">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name),
                html: { class: "form-horizontal", novalidate: true } do |f| %>
                <%= f.input :email, placeholder: 'user@domain.com', input_html: { class: 'form-control' }, label_html: { class: 'form-label' }%>
                <%= f.input :first_name, placeholder: 'Your First Name', input_html: { class: 'form-control' }, label_html: { class: 'form-label' }%>
                <%= f.input :last_name, placeholder: 'Your Last Name', input_html: { class: 'form-control' }, label_html: { class: 'form-label' }%>
                <%= f.input :password, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
                <%= f.input :password_confirmation, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
                <%= f.input :time_zone, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
                <%= f.input :role do %>
                  <%= f.select :role, User.roles.keys.to_a, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
                <% end %>
                <div class="row d-flex align-items-center mt-5">
                <%= link_to 'Log in?', new_session_path(resource_name) %>
                <%= f.button :submit, "Sign up", class: 'btn btn-primary ml-auto' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
