<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tr>
            <td align="center" valign="top">
              <br/>
              <br/>
              <span style="font-family:Arial; font-size:60px; color:#444444; text-decoration:none; margin-top: 20px;">Flog it off</span>
            <br/>
            <br/>
            <span style='font-family:Arial; font-weight: bold; font-size:26px; color:#444444; text-decoration:none;' ><%= @user.first_name%>, <%= message.subject %></span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <body>
    <p>You have successfully updated one of your listings.</p>
    <div class="card card-mini card-mini-solid-icon  ">
      <div class="card-body">
        <div class="media">
          <div class="media-body text-left">
            <h6 class="m-0 text-muted">Views</h6>
            <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000"
                                                                data-refresh-interval="80"><%= @collection.visit_count %></h4>
          </div>
          <div class="d-flex align-self-center text-primary ml-3">
            <span>
              <i class="display-4 ti-world"></i>
            </span>
          </div>
        </div>

        <p>
        <strong>Name:</strong>
        <%= @collection.name %>
        </p>

        <span>
          <strong>Price </strong>
          <i class="fa fa-usd "></i>
          <%= @collection.price %>
        </span>

        <p>
        <strong>Description:</strong>
        <%= @collection.description %>
        </p>

        <p>
        <strong>Categories:</strong>
        <% @collection.category_ids.each_with_index do |c, index| %>
          <% if @category.ids.include?(c) %>
            <%= "#{@category[index + 1].name}" %>
          <% end %>
        <% end %>
        </p>

        <p>
        <strong>Quantity:</strong>
        <%= @collection.quantity %>
        </p>

        <p>
        <strong>Available between </strong><%= @collection.available_hours_morning %> AM<strong> and </strong> <%= @collection.available_hours_night %> PM 
        </p>

        <p>
        <strong>Available until:</strong>
        <%= @collection.available_until %>
        </p>
        </div>
      </div>
    </div>

  </body>
  <table border="0" cellpadding="10" cellspacing="0" width="100%">
    <tr>
      <td align="left" valign="top">
        <br />
        <br />
        <span class="applefix" style="font-family:Arial; font-size:14px; color:#888888;">
          <b>Our Address:</b><br />
          Flog it off<br />
          Melbourne, Australia 3000
        </span>
        <br />
        <br />
      </td>
    </tr>
  </table>
</html>
