<% if can? :update, Collection %>
  <div class="container-fluid">
    <div class="card card-default position-relative ml-auto mr-auto">
      <div class="card-header">
        <h6>Your Collections</h6>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Status</th>
              <th>Views</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @active_collections.each do |collection| %>
              <tr>
                <td><%= collection.name %></td>
                <td><%= collection.description %></td>
                <td><%= collection.price %></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
                <td><%= collection.visit_count %></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a href="<%= edit_collection_path(collection) %>"data-toggle="tooltip" class="btn " data-original-title="Edit", data-turbolinks='false' >
                      <i class="ti-pencil-alt "></i>
                    </a>
                    <a href="<%= collection_path(collection)%>" data-toggle="tooltip" class="btn " data-original-title="Delete", data-method="delete" data-turbolinks='false' >
                      <i class="ti-trash "></i>
                    </a>
                  </div>
                </td>
              </tr>
            <% end %>
            <% @expired_unpaid_collections.each do |expired| %>
              <tr>
                <td><%= expired.name %></td>
                <td><%= expired.description %></td>
                <td><%= expired.price %></td>
                <td>
                  <span class="badge badge-danger">Expired</span>
                </td>
                <td><%= expired.visit_count %></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a href="<%= edit_collection_path(expired) %>"data-toggle="tooltip" class="btn " data-original-title="Edit", data-turbolinks='false' >
                      <i class="ti-pencil-alt "></i>
                    </a>
                    <a href="<%= collection_path(expired)%>" data-toggle="tooltip" class="btn " data-original-title="Delete", data-method="delete" data-turbolinks='false' >
                      <i class="ti-trash "></i>
                    </a>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
<% end %>
