<header class="landing-header-1" style="background-image: url(<%= image_path('wood.jpg') %>)">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-landing  navbar-centered navbar-expand-lg my-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#standardLandingNavbarWithCenteredBrand" aria-controls="standardLandingNavbarWithCenteredBrand" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="standardLandingNavbarWithCenteredBrand">
            <ul class="nav navbar-nav navbar-left">
              <li class="nav-item ">
                <%= link_to 'HOME', collections_path, class:"nav-link", data: {turbolinks: false} %>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <%= link_to "SIGN IN", new_user_session_path, class: "btn btn-sm btn-primary" %>
              </li>
              <li class="nav-item">
                <%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-sm btn-primary" %>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="container header-caption">
    <div class="row">
      <div class="col-12 col-md-5 px-5">
        <div class="text-white">
          <h1 class="mt-5 font-weight-bold leading-tight">FLOG IT OFF</h1>
          <p class="">Are you sick of the amount of wastage you have on your worksite? Or are you looking for a bargain? </p>
        </div>
        <%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-primary text-white" %>
      </div>
    </div>
  </div>
</header>
