<%= content_for :js_libs, "modernizr jasny" %>

<div class="profile-header jumbotron  d-flex align-items-center justify-content-center flex-column pb-0">
  <%= render partial: '_user_account/avatar_upload' %>
  <h2 class="m-0 mb-2"><%= current_user.first_name %> <%= current_user.last_name %></h2>
  <div class="badge badge-light">
    <%= current_user.role %> ACCOUNT
  </div>
  <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Profile</a>
    </li>
    <li class="nav-item">
      <% if can? :update, Collection %>
      <a class="nav-link" id="payment-details-tab" data-toggle="tab" href="#payment-details" role="tab" aria-controls="payment-details" aria-expanded="false">Payment Details</a>
    <% else %>
      <a class="nav-link" id="payment-details-tab" data-toggle="tab" href="#payment-details" role="tab" aria-controls="payment-details" aria-expanded="false">Purchase Details</a>
      <% end %>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mr-auto ml-auto">
      <div class="tab-content pt-2 pb-2" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="profile-tab">
          <div class="card">
            <div class="card-body">
              <%= render partial: '_user_account/profile' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="payment-details" role="tabpanel" aria-labelledby="payment-details-tab">
          <div class="card">
            <div class="card-body">
              <%= render partial: '_user_account/payment_details' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
